div {
	text-align: center;
}
.header {
	font-family: 'Pacifico', cursive;
	font-size: 50;
}

.aboutme {
	background-color: #D1F0FF;
}

.resize {
    width: 300px;
    height: auto;
}

.circleimg {
	border-radius: 50%;
}